<!-- This page just has a button that will redirect the user to the authentication endpoint
     where he will be redirected to FENIX-->
<!DOCTYPE html>
<html>
    <head>
        <title>User Web App</title>
        <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
        </script>

        <script type = "text/javascript" language = "javascript">

            $(document).ready( function () { 
            
                $("#loginButton").click( function() {
                    $.ajax({
                        url: "http://127.0.0.1:8000/users/authentication",
                        method: "GET",
                        dataType: "text",
                        success: function (data) {
                            window.location.replace(data);
                            $("#button1").hide();
                        },
                        error: function () {alert("error");}
                    });
                });
            });
        </script>
    </head>

    <body>
        <div id ="button1"><button class="ui button" id="loginButton">Login With FENIX</button></div>
    </body>
</html>